<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ASQAG</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{url_for('static', filename = 'assets/exam.ico')}}" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename = 'css/styles.css')}}" rel="stylesheet" />
    </head>
    <nav style="background-color: black; height: 65px;" class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">
                    <img src="static/assets/bg.png" style="width: 200px" alt="LOGO">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul style="color: black;" class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/#home_ind">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/#main_sec">About</a></li>
                        <!-- <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li> -->
                        <li class="nav-item"><a class="nav-link" href="/#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
		<section id="main_sec" style="padding:4rem 0rem; margin-top: 0px; justify-content: center; align-items: center; height: 100vh;" class="page-section">
            
                <div style="background-image: url('{{url_for('static', filename = 'assets/img/main_bg.jpg')}}'); display: flex; justify-content: center; align-items: center; height: 100vh " class="container px-4 px-lg-5">

                    <form id="question-form" method="POST" target="_blank" action="/process_form">

                        <label id="inp_lab" class="h4 mb-2" style="margin:20PX" for="text-input">Input text:<br><span style="font-size:12px;font-style: italic;">for steps to follow, <a href="/#procedure">click here</a></span></label><br>
                        
                        <textarea id= "main_sec_t_area"style="margin:20PX; padding: 10px; border: grey 1px solid; border-radius: 20px;" id="user_input" name="user_input" rows="13" cols="100" placeholder=" Enter/paste your text here..."></textarea><br>

    
                        <label class="h4 mb-2" style="margin:20PX" for="selected_opt">Select the level:</label>
                        <select id="selected_opt" name="selected_opt">
                            <option value=1>1.Remembering</option>
                            <option value=2>2.Understanding</option>
                            <option value=3>3.Applying</option>
                            <option value=4>4.Analyzing</option>
                            <option value=5>5.Evaluating</option>
                            <option value=6>6.Creating</option>
                            <!-- Add more options as needed -->
                        </select><br>
                        <label class="h4 mb-2" style="margin:20PX" for="question-count">Number of questions to generate:</label>
                        <input type="number" id="question-count" name="question-count" min="1" max="100" value="1"><br>
                        <span style="font-size:12px;text-decoration: underline; margin-left: 20px;">Note</span><span style="font-size:12px;font-style: italic;"> : No. of questions may vary if the available relevant words aren't enough to generate the number of questions.</span><br>

                        <button style="margin:20PX" type="submit" class="btn btn-primary btn-xl">Generate Questions</button>

                    </form>
              
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{url_for('static', filename = 'js/scripts.js')}}"></script>
        
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>


